.accountsList {
    border-collapse: collapse;
}

td, tr {
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 1px solid black
}

.count {
    display: flex;
    flex-flow: row;
    align-items: baseline;

}

.page-size {
   align-self: center;

}

.paging-buttons {
    display: flex;
    flex-flow: row;
}

.button-row {

    height: 25px;
    width: 25px;
}

.button_active {
    color: red;
    /*background-color: black ;*/
}
